body {
	color: #4c555a;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	text-transform: none;
}

.sidebar {
	position: fixed;
  left: 0;
  top: 0;
	bottom: 0;
  width: 220px;
  background: #fafcfc;
  border-right: 1px solid #f0f4f7;
	z-index: 0;
	min-height: 100%;
	padding-top: 50px;

	overflow-y: auto;
}

#hide-toc, #show-toc {
	display: none;
}

.content {
  bottom: 0;
  right: 0;
  position: absolute;
  left: 221px;
  top: 0;
  z-index: 50;
	padding: 40px;
	z-index: 0;
}

h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: #0099e5;
}

h2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}

ul {
	margin: 0;
	padding: 0;

	margin-left: 10px;
	list-style-type: none;
}

.sidebar .package {
	color: #939da3;
	font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.sidebar li {
	line-height: 18px;
	padding: 0 10px 4px;
	font-size: 0;
}

.sidebar li a {
	font-size: 14px;
	color: #4c555a;
  text-decoration: underline;
	text-decoration: none;
}

.sidebar li .selected a {
	color: #0099e5;
}

.breadcrumbs {
	position: fixed;
	z-index: 1;

	left: 0;
  top: 0;

  border-bottom: 1px solid #f0f4f7;
	width: 220px;
	font-size: 0;
	height: 40px;
	line-height: 40px;
}

.home {
	font-size: 30px;
	text-decoration: none;
	padding: 0 10px;
}

#search {
	border: 0;
	background: transparent;
	height: 40px;
	vertical-align: top;
	width: 175px;
	postition: absolute;
}

#results {
	position: fixed;
	left: 221px;
	top: 0;
	min-height: 100%;
	font-size: 14px;
	background-color: #4c555a;
	overflow-y: auto;
	display: none;
}

#results tr a {
	color: #dde4e8;
	text-decoration: none;
	display: table-cell;
	padding: 0 10px;
	line-height: 20px;
}

.content table {
	width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.content table>tbody>tr>td,
.content table>tbody>tr>th,
.content table>tfoot>tr>td,
.content table>tfoot>tr>th,
.content table>thead>tr>td,
.content table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.content td p {
	margin: 0;
}

pre {
  margin: 0;
  padding: 20px 40px;
  background: #272b2d;
  border-radius: 5px;
  font-family: Source Code Pro,Menlo,monospace;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500;
}

pre {
	color: #d0d0d0;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-break: break-word;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.hljs.d {
	color: #d0d0d0;
}

.hljs-built_in {
	color: #f099a6;
}

.hljs-keyword {
	color: #c1ef65;
}

pre a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dotted #ebde68;
}

td pre {
	background-color: transparent;
	margin: 0;
	padding: 0;
}

td pre .hljs.d {
	color: #000;
}

td pre .hljs-built_in {
	color: #ce1e38;
}

td pre .hljs-keyword {
	color: #699610;
}

td pre .hljs {
	color: #6d4c0e;
}

pre.d_inline_code {
	padding: 0;
	margin: 0 5px;
	padding: 0 5px;
}

p {
	display: inline-block;
}

.asciicast {
min-width: 800px;
}

.symbol > .description {
	background: #e9ebec;
	margin-bottom: 20px;
}

.symbol > .description > pre {
	padding: 5px 20px;
}

.symbol > .description > .section {
	padding: 0 20px;
}

.symbol > .description h2 {
	padding: 0;
	margin: 0;
}
