html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Segoe UI", "Roboto Sans", "Open Sans", sans-serif;
	font-size: 9.5pt;
	display: flex;
}

h1, h2, h3 { 
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }

a { color: #0099e5; text-decoration: none; }
a:hover { color: #0033e5; text-decoration: underline; }

table { border-collapse: collapse; }
th, td { 
  padding: .75rem;
  vertical-align: top;
  text-align: left;
}

td {
  border-top: 1px solid #dee2e6; 
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6; 
}

col.caption { min-width: 150pt; }

p.faint { color: #ccc; }
span.decoration { color: #888; }

#main-nav, #main-contents, #symbolSearchResults, #symbolSearch {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#main-nav {
	vertical-align: top;
	font-size: 9.5pt;
	padding: 2em 1.5em;
	min-width: 16em;
	background: #f7f7f9;
	border-right: 1px solid #eee;
  min-height: 100%;
}

#main-contents {
	vertical-align: top;
	font-size: 9.5pt;
	padding: 2em;
	flex-grow: 1;
}

#symbolSearchPane form { margin-bottom: 1.5em; }
#symbolSearch { width: 100%; }
#symbolSearchResults {
	position: absolute;
	padding-right: 0.5em;
	margin: 0;
	margin-top: -1.5em;
	background: white;
	min-width: 20em;
	border: 1px solid #ddd;
	box-shadow: 0px 5px 20px 0 rgba(0,0,0,0.5);
}
.symbolList {
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.symbolList li {
	background-repeat: no-repeat;
	background-position: 0 1pt;
	padding-left: 18px;
}

.searchResults.symbolList li { background-position: 0 5pt; }
.searchResults h2 { margin-bottom: 0; margin-top: 1em; }

.symbolList .deprecated a { color: gray; }
.symbolList .module { background-image: url(../images/ddox/module.png); }
.symbolList .functiondeclaration { background-image: url(../images/ddox/function.png); }
.symbolList .classdeclaration { background-image: url(../images/ddox/class.png); }
.symbolList .interfacedeclaration { background-image: url(../images/ddox/interface.png); }
.symbolList .structdeclaration { background-image: url(../images/ddox/struct.png); }
.symbolList .variabledeclaration { background-image: url(../images/ddox/variable.png); }
.symbolList .property { background-image: url(../images/ddox/property.png); }
.symbolList .enumdeclaration { background-image: url(../images/ddox/enum.png); }
.symbolList .enummemberdeclaration { background-image: url(../images/ddox/enummember.png); }
.symbolList .aliasdeclaration { background-image: url(../images/ddox/alias.png); }
.symbolList .templatedeclaration { background-image: url(../images/ddox/template.png); }


ul.tree-view li {
	list-style-type: none;
	padding-left: 18px;
	padding-right: 4px;
}

ul.tree-view .package {
	padding-left: 18px;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	background-position: left 2px;
	cursor: default;
}

ul.tree-view .package:hover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

ul.tree-view .module {
	padding-left: 18px;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../images/ddox/module.png);
	background-repeat: no-repeat, no-repeat;
	background-position: left 1px, left 1px;
	background-size: 18px 16px;
}

ul.tree-view .module.selected, ul.tree-view .package.selected { font-weight: bold; }
ul.tree-view .module.selected { background-image: url(../images/ddox/module.png); }

ul.tree-view li.collapsed ul { display: none; }

ul.tree-view {
	padding: 0;
	margin: 0;
}

ul.tree-view ul {
	margin: 0;
	padding: 0;
}

a.protected {
	font-style: italic;
	background-image: url(../images/ddox/protected.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}

a.private {
	font-style: italic;
	background-image: url(../images/ddox/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/ddox/inherited.png); padding-left: 2pt; }

nav.page-nav ul { list-style: none; padding-left: 0; }
nav.page-nav li a { color: black; }
nav.page-nav li:before { content: "▼"; padding-right: 3px; }

.license-info {
  margin-top: 40px;
}

.license-info td, .license-info th {
  border: 0;
  padding: 0;
  vertical-align: middle;
}
.license-info p {
  margin: 3px;
}

div.prototype, pre.code {
  background: #f7f7f9 !important;
  border: 0 !important;
}

.typ {
  color: #159957 !important;
}

.pun {
  color: #041e11 !important;
}

.str {
  color: #999915 !important;
}

.lit {
  color: #991599 !important;
}

.pln {
  color: #159999 !important;
}

.kwd {
  color: #dc7d1e !important;
}

@media (max-width: 500pt) {
	body { display: block; }
}